.title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 250%;
  background-image: url("img/gradbg.png");
}

body {
  flex: 1;
}

.head{
  background: rgba(0,0,0,0.5);
  background-image: url("img/grass.png");
  background-position: right top;
}

.gettkns {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: rgba(0,0,0,1);
  color: #FFFFFF;
  border: none;
  text-align: center;
  cursor: pointer;
}

.mid{
  padding-top: 25px;
  text-align: center;
}

.container{
  margin-top: 20px;
  width: 50%;
  background: rgba(0, 0, 0, 0);
  padding-bottom: 10px;
}

.carousel{
  text-align: center;
}

.app{
  padding-top: 100px;
  align-items: center;
}

/*.a {
  padding-left: 100px; padding-right: 100px;
  height: auto;
  width: 25px;
}*/

.b{
  background-image: url("img/circle2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.gifcontainer{
 text-align: center;
}

.gif{
  margin-top: 25px;
  height: 175px;
  width: auto;
}

.collection{
  margin-top: 10px;
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
}

.divider{
  margin-top: 20px;
  color: rgba(0,0,0,0.4);
  text-align: center;
}

.owl-carousel .b{
  height: 100%;
  width: 100%;
  flex: 1;
}